.stats{
    background-color:black;
    color: aliceblue;
    height: 14vh;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0 0.2rem 0.4rem #0003;

}
.mainContainer{
    width: 80%;
    margin-left: 10%;
    border: 2px solid black;
    background-color: rgba(161, 151, 137, 0.414);

}
.plotis{
    display: flex;
    background-color: rgb(236, 133, 8);
    height: 16vh;
    box-shadow: 0 0.2rem 0.2rem #0003;

    

}
.aukstis{
    background-color: rgba(141, 6, 182, 0.771);
    width: 140px;
    height: 70vh;
    box-shadow: 0.2rem 0 0.2rem #0003;


}
.container{
    display: flex;
}
.celes{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}